*{
    font-family: 'Open Sans', sans-serif;
}

/* header banner */
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-title{
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 65px;
}
.banner-description{
    color: #444343;
}
.button-primary{
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
}
/* 2nd Banner */
.second-banner-container{
    display: flex;
    align-items: center;
}
.second-banner-image img{
    padding-top: 70px;
}
.second-banner-text{
    padding-left: 200px;
    align-items: center;
}

/* Footer container */

.footer-container{
    background: #151414;
}

.text-type{
    color: #FFFFFF;
}