body{
    margin: 0;
}
*{
    font-family: 'Open Sans', sans-serif;
}

/* header banner */
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 10px;
}
.banner-title{
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 65px;
}
.banner-description{
    color: #444343;
}
.button-primary{
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
}
/* 2nd Banner */
.second-banner-container{
    display: flex;
    align-items: center;
}
.second-banner-image img{
    padding-top: 70px;
}
.second-banner-text{
    padding-left: 200px;
    align-items: center;
}

/* My plans */
.my-plans{
    text-align: center;
    font-weight: bold;
    padding-bottom: 55px;

}
.flexible{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.skill-icon{
    padding: none;
}
.Skill-container-title{
    padding-bottom: 60px;
    text-align: center;
    color: #151414;
    font-weight: 800;
    font-size: 50px;
}
.skill-title{
    padding: 0;
    color: #151414;
    font-weight: 700;
    font-size: 30px;
}

.skill-description{
    color: #737272;
}
.fixing-gradient{
    margin-left: 150px;
    padding-bottom: 60px;
}
.gradient-solution{
    background-repeat: no-repeat;
    background-image: url(images/watch.png);

}
.gradient-title{
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2281.26px;

}


/* Footer container */

.footer-container{
    width: 100%;
    height: 70vh;
    background: #151414;
    border-radius: 10px;
    padding-top: 170px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 120px;
   
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
}
.footer-description{
    color: #FFFFFF;
}
.footer-input{
    color: whitesmoke;
    padding-right: 250px;
}

.text-type{
    color: aliceblue;
}
.footer-button{
    font-size: 20px;
}
.input-button{
    font-size: 20px;
}
.submit-btn{
    width: 120px;
    height: 30px;
    color: #F15B22;
    background-color: whitesmoke;
    font-weight: bold;
}

